.product {
  &:hover {
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
  }
  position: relative;
  width: 210px;
  height: 260px;
  border: 1px solid #F3F3F3;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
  padding-top: 20px;
  &Fav {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 32px;
    height: 32px;
    border: 1px solid #F8F8F8;
    border-radius: 7px;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
      background: #FEF0F0;
    }
  }
  &Name {
    width: 150px;
    margin-top: 14px;
  }
  &Price {
    width: 150px;
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
  }
  span {
    display: block;
    font-size: 11px;
    line-height: 13px;
    font-weight: 500;
    color: #BDBDBD;
  }
  &Add {
    width: 32px;
    height: 32px;
    border: 1px solid #F2F2F2;
    border-radius: 8px;
    background: none;
    cursor: pointer;
    &:hover {
      background: #89F09C;
    }
    &:hover path {
      fill: #FFFFFF;
    }
  }
}