.order {
  &Title {
    display: flex;
    align-items: center;
    margin-top: 45px;
    a {
      width: 35px;
      height: 35px;
      border: 1px solid #F2F2F2;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    h3 {
      font-weight: 700;
      font-size: 32px;
      line-height: 39px;
      margin-left: 21px;
    }
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 760px;
}