.banner {
  position: relative;
  display: flex;
  margin-top: 45px;
  &Left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 16px 0 52px 20px;
    border-radius: 20px 0 0 20px;
    background-color: #F4EFE9;
    img {
      width: 100px;
    }
    div {
      width: 240px;
      height: 160px;
      align-self: flex-end;
      margin-right: 17px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    h3 {
      font-size: 38px;
      line-height: 46px;
    }
    span {
      color: #8BB43C;
    }
    button {
      background-color: #A5D364;
      border: none;
      width: 178px;
      margin-top: 10px;
      border-radius: 110px;
      font-size: 16px;
      line-height: 47px;
      font-weight: 700;
      color: #FFFFFF;
    }
  }
  .arrowBlock {
    position: absolute;
    top: 0;
    right: -15px;
    bottom: 0;
    display: flex;
    align-items: center;
    div {
      width: 35px;
      height: 35px;
      background: #FFFFFF;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}